<div class="logo">
  <a class="logo-text text-uppercase">
    <div class="logo-img">
      <img src="favicon.ico" alt="">      
    </div>
    Harmony    
  </a>
</div>

<nav class="nav flex-column">
  <a class="nav-link" href="#">
    <i class="fas fa-home"></i>
    Home
  </a>
  <a class="nav-link" href="#/inspiration">
      <i class="fas fa-lightbulb"></i>
      Discover
  </a>
  <a class="nav-link" href="#/product">
    <i class="fas fa-puzzle-piece"></i>
    Product
  </a>
  <a class="nav-link" href="#/payment/pay">
    <i class="fas fa-credit-card"></i>
    Payment
  </a>
  <a class="nav-link" href="#/account/history">
    <i class="fas fa-list"></i>
    Your Orders
  </a>
  <a class="nav-link" href="#/support">
    <i class="fas fa-phone"></i>
    Support
  </a>
  <a class="nav-link" (click)="sendState()">
    <i class="fas fa-bullhorn"></i>
    Broadcast
  </a>
</nav>
